<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="box_inertial" params="mass x y z">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="${mass * (y * y + z * z) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (x * x + z * z) / 12.0}"
        iyz="0.0"
        izz="${mass * (x * x + y * y) / 12.0}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="sphere_inertial" params="mass radius">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="${0.4 * mass * radius * radius}"
        ixy="0.0"
        ixz="0.0"
        iyy="${0.4 * mass * radius * radius}"
        iyz="0.0"
        izz="${0.4 * mass * radius * radius}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="wheel_inertial" params="mass radius width">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="${mass * (3.0 * radius * radius + width * width) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${0.5 * mass * radius * radius}"
        iyz="0.0"
        izz="${mass * (3.0 * radius * radius + width * width) / 12.0}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="${mass * (3.0 * radius * radius + length * length) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (3.0 * radius * radius + length * length) / 12.0}"
        iyz="0.0"
        izz="${0.5 * mass * radius * radius}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="box_link" params="name mass x y z material gazebo_material">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="${x} ${y} ${z}"/>
        </geometry>
        <material name="${material}"/>
      </visual>
      <collision>
        <geometry>
          <box size="${x} ${y} ${z}"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="${mass}" x="${x}" y="${y}" z="${z}"/>
    </link>
    <gazebo reference="${name}">
      <material>${gazebo_material}</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="laser_base" params="name radius length mass material gazebo_material">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 ${length / 2.0}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="${material}"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${length / 2.0}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertial mass="${mass}" radius="${radius}" length="${length}"/>
    </link>
    <gazebo reference="${name}">
      <material>${gazebo_material}</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="drive_wheel" params="side y">
    <link name="${side}_drive_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="metal_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>
      <xacro:wheel_inertial mass="${wheel_mass}" radius="${wheel_radius}" width="${wheel_width}"/>
    </link>

    <joint name="${side}_drive_wheel_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${side}_drive_wheel_link"/>
      <origin xyz="0 ${y} ${wheel_center_z}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="40.0" velocity="20.0"/>
      <dynamics damping="0.15" friction="0.02"/>
    </joint>

    <gazebo reference="${side}_drive_wheel_link">
      <mu1 value="1.5"/>
      <mu2 value="1.5"/>
      <kp value="1000000.0"/>
      <kd value="10.0"/>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="caster" params="name x y">
    <link name="${name}_link">
      <visual>
        <geometry>
          <sphere radius="${caster_radius}"/>
        </geometry>
        <material name="metal_grey"/>
      </visual>
      <collision>
        <geometry>
          <sphere radius="${caster_radius}"/>
        </geometry>
      </collision>
      <xacro:sphere_inertial mass="${caster_mass}" radius="${caster_radius}"/>
    </link>

    <gazebo reference="${name}_link">
      <mu1 value="0.15"/>
      <mu2 value="0.15"/>
      <kp value="500000.0"/>
      <kd value="10.0"/>
      <material>Gazebo/DarkGrey</material>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${x} ${y} ${caster_center_z}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="wide_angle_camera" params="name topic_name xyz yaw pitch namespace">
    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="0.08 0.08 0.06"/>
        </geometry>
        <material name="sensor_gray"/>
      </visual>
      <visual>
        <origin xyz="0.044 0 0" rpy="0 ${pi / 2.0} 0"/>
        <geometry>
          <cylinder radius="0.018" length="0.008"/>
        </geometry>
        <material name="lens_glass"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.08 0.08 0.06"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="0.20" x="0.08" y="0.08" z="0.06"/>
    </link>

    <gazebo reference="${name}_link">
      <material>Gazebo/Grey</material>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <joint name="${name}_mount_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="0 ${pitch} ${yaw}"/>
    </joint>

    <joint name="${name}_optical_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi / 2.0} 0 ${-pi / 2.0}"/>
    </joint>
    <link name="${name}_optical_frame"/>

    <gazebo reference="${name}_link">
      <sensor name="${name}_sensor" type="camera">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <camera name="${name}">
          <horizontal_fov>${camera_fov}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>50.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.003</stddev>
          </noise>
        </camera>
        <plugin name="${name}_camera_plugin" filename="libgazebo_ros_camera.so">
          <robotNamespace>${namespace}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <cameraName>${topic_name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${name}_optical_frame</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!--
    Downward-facing fisheye camera. The link frame is located at the lens
    plane, with +X pointing along the optical axis. The camera body extends
    toward -X so it can be recessed into the chassis while the lens remains
    flush with the underside.
  -->
  <xacro:macro
    name="bottom_fisheye_camera"
    params="name topic_name x y mount_z namespace update_rate image_width image_height horizontal_fov lens_cutoff near_clip far_clip">
    <xacro:property name="bottom_body_depth" value="0.045"/>
    <xacro:property name="bottom_body_width" value="0.080"/>
    <xacro:property name="bottom_body_height" value="0.080"/>
    <xacro:property name="bottom_lens_radius" value="0.025"/>
    <xacro:property name="bottom_lens_depth" value="0.004"/>
    <xacro:property name="bottom_light_radius" value="0.032"/>

    <link name="${name}_link">
      <visual>
        <origin xyz="${-bottom_body_depth / 2.0} 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${bottom_body_depth} ${bottom_body_width} ${bottom_body_height}"/>
        </geometry>
        <material name="sensor_gray"/>
      </visual>
      <visual>
        <origin xyz="${-bottom_lens_depth / 2.0} 0 0" rpy="0 ${pi / 2.0} 0"/>
        <geometry>
          <cylinder radius="${bottom_lens_radius}" length="${bottom_lens_depth}"/>
        </geometry>
        <material name="lens_glass"/>
      </visual>
      <collision>
        <origin xyz="${-bottom_body_depth / 2.0} 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${bottom_body_depth} ${bottom_body_width} ${bottom_body_height}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${-bottom_body_depth / 2.0} 0 0" rpy="0 0 0"/>
        <mass value="0.20"/>
        <inertia
          ixx="${0.20 * (bottom_body_width * bottom_body_width + bottom_body_height * bottom_body_height) / 12.0}"
          ixy="0.0"
          ixz="0.0"
          iyy="${0.20 * (bottom_body_depth * bottom_body_depth + bottom_body_height * bottom_body_height) / 12.0}"
          iyz="0.0"
          izz="${0.20 * (bottom_body_depth * bottom_body_depth + bottom_body_width * bottom_body_width) / 12.0}"/>
      </inertial>
    </link>

    <gazebo reference="${name}_link">
      <material>Gazebo/Grey</material>
      <preserveFixedJoint>true</preserveFixedJoint>

      <sensor name="${name}_sensor" type="wideanglecamera">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <camera name="${name}">
          <horizontal_fov>${horizontal_fov}</horizontal_fov>
          <image>
            <width>${image_width}</width>
            <height>${image_height}</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>${near_clip}</near>
            <far>${far_clip}</far>
          </clip>
          <lens>
            <type>equidistant</type>
            <scale_to_hfov>true</scale_to_hfov>
            <cutoff_angle>${lens_cutoff}</cutoff_angle>
            <env_texture_size>512</env_texture_size>
          </lens>
        </camera>
        <plugin name="${name}_camera_plugin" filename="libgazebo_ros_camera.so">
          <robotNamespace>${namespace}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <cameraName>${topic_name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${name}_optical_frame</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>

      <!-- Four invisible white point lights approximate an annular illuminator. -->
      <light name="${name}_ring_light_front" type="point">
        <pose>0 ${bottom_light_radius} 0 0 0 0</pose>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
        <attenuation>
          <range>1.5</range>
          <constant>0.25</constant>
          <linear>0.35</linear>
          <quadratic>0.10</quadratic>
        </attenuation>
        <cast_shadows>false</cast_shadows>
      </light>
      <light name="${name}_ring_light_rear" type="point">
        <pose>0 -${bottom_light_radius} 0 0 0 0</pose>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
        <attenuation>
          <range>1.5</range>
          <constant>0.25</constant>
          <linear>0.35</linear>
          <quadratic>0.10</quadratic>
        </attenuation>
        <cast_shadows>false</cast_shadows>
      </light>
      <light name="${name}_ring_light_left" type="point">
        <pose>0 0 ${bottom_light_radius} 0 0 0</pose>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
        <attenuation>
          <range>1.5</range>
          <constant>0.25</constant>
          <linear>0.35</linear>
          <quadratic>0.10</quadratic>
        </attenuation>
        <cast_shadows>false</cast_shadows>
      </light>
      <light name="${name}_ring_light_right" type="point">
        <pose>0 0 -${bottom_light_radius} 0 0 0</pose>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
        <attenuation>
          <range>1.5</range>
          <constant>0.25</constant>
          <linear>0.35</linear>
          <quadratic>0.10</quadratic>
        </attenuation>
        <cast_shadows>false</cast_shadows>
      </light>
    </gazebo>

    <joint name="${name}_mount_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <!-- +X of the camera points straight down; the lens plane is flush with the chassis bottom. -->
      <origin xyz="${x} ${y} ${mount_z}" rpy="0 ${pi / 2.0} 0"/>
    </joint>

    <joint name="${name}_optical_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi / 2.0} 0 ${-pi / 2.0}"/>
    </joint>
    <link name="${name}_optical_frame"/>
  </xacro:macro>

</robot>
