<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="warehouse_agv"/>
  <arg name="namespace" default="/agv"/>
  <arg name="publish_odom_tf" default="true"/>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find laser-tag_nav_description)/urdf/robot.urdf.xacro robot_name:=$(arg robot_name) namespace:=$(arg namespace) publish_odom_tf:=$(arg publish_odom_tf)"/>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param name="publish_frequency" value="50.0"/>
  </node>

  <node
    name="spawn_warehouse_agv"
    pkg="gazebo_ros"
    type="spawn_model"
    output="screen"
    args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>
</launch>
